{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} xxxxx {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bookings/css/bootstrap.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <!-- Dropdown for Reserva -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkReserva" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reservas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReserva">
                        <a class="dropdown-item" href="">Todas las Reservas</a>
                        <a class="dropdown-item" href="">Crear Reserva</a>
                        <a class="dropdown-item" href="">Buscar Reserva por usuario</a>
                    </div>
                </li>
                <!-- Dropdown for Sala -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSala" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSala">
                        <a class="dropdown-item" href="{% url 'sala-list' %}">Todas las Salas</a>
                        <a class="dropdown-item" href="{% url 'sala-create' %}">Crear Sala</a>
                        <a class="dropdown-item" href="{% url 'sala-buscar' %}">Buscar Sala</a>
                    </div>
                </li>
            </ul>
            {% endif %}
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'editar-perfil' %}">{{ user }}</a>
                    </li>
                    <li class="nav-item">
                        {% if user.avatar.image %}
                        <img src="{{ user.avatar.image.url }}" alt="Avatar" style="height: 40px; width: 40px; border-radius: 50%;">
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'avatar_add' %}" class="nav-link">Add Avatar</a>
                        </li>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_user' %}">Crear Usuario</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        <!-- Content goes here -->
        {% endblock content %}
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
