{% extends 'bookings/base.html' %}

{% block title %}Listado de Reservas{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Reservas</h2>
            <a href="{% url 'reserva-create' %}" class="btn btn-success">Crear Reserva</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora de Inicio</th>
                    <th scope="col">Hora de Fin</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if reservas %}
                {% for reserva in reservas %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ reserva.nombre }}</td>
                    <td>{{ reserva.fecha }}</td>
                    <td>{{ reserva.hora_inicio }}</td>
                    <td>{{ reserva.hora_fin }}</td>
                    <td>{{ reserva.descripcion }}</td>
                    <td>
                        <a href="{% url 'reserva-update' reserva.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'reserva-delete' reserva.id %}" class="btn btn-primary btn-sm">Eliminar</a>
                        <a href="{% url 'reserva-detail' reserva.id %}" class="btn btn-primary btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay reservas.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
