{% extends 'bookings/base.html' %}

{% block title %} Listado de Salas {% endblock %}

{% block content %}
<h3>{% if object %}Edit Sala: {{ object.nombre }}{% else %}New Sala{% endif %}</h3>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            Datos de la Sala
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Envíar</button>
                                <a href="{% url 'sala-list' %}">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}